/*header {
  padding: 30px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;

  background-color: #6cb33e;
  border-bottom: 1px solid #558e31;
  text-shadow: #7fb35d;
}

header.qv-object-header {
  padding: 0px 0px 10px 10px;
  text-shadow:none;
  color:#595959;
  font-size:13px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.container {
  width: 100%;
  height: 100%;
  margin: 20px auto;
  overflow: hidden;
}
.main-content {
  height:100%;
  width: 90%;
  margin: 0px auto;
}
.main-content p {
  
  margin-bottom: 20px;
}

p {
  line-height: 1.8;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding: 1%;
    width: 98% !important;
    height: 75vh !important;
}
*/
#pagefooter {
  /*border-top: 1px dotted #ccc;
  
  font-size: 13px;*/
  padding-top: 5px;
  position: fixed;
  /*left: 0;*/
  bottom:0;
  /*width:100%;*/
  height:70px;
  overflow: hidden;
  z-index: 1;
}
#drillLists{
  height:161px;
}
#currsel{
  height: 36px;  
  }
#resultDiv {
  height: -webkit-calc(100vh - 515px);
  height: -moz-calc(100vh -515);
  height: calc(100vh - 515px);
  /*background-color: rgba(90,90,190,0.8);*/
} 

#panelForm{
height: calc(100vh - 190px);
}
#appSelectForm{
  height: 124px;
}
#fieldSelectForm{
  height: 180px;
  margin-top:0;
}
#fieldSelectForm > div.panel-body{
  padding-bottom: 0px;
}
#resultsSelectForm{
  margin-top:0;
}
#buttonRow{
  padding-top:5px;
}
#buttonRow > div{
  padding: 0px;
 }
 #btnGenerateCSV{
   margin-left:5px;
 }
 #resultsSelectForm > div{
   padding:0px;
 }
 .qv-global-selections{
   width:90% !important;
 }
 .qv-global-selections .qv-gs-header .lui-checkbox {
   display:none !important;
 }
 #appGUID {
  padding: 0 5px !important;
  color: lightgrey;
}
h4{
  margin:0;
}
.over {
  border: 2px dashed #000   !important;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.dragItem {
  /*height: 150px;*/
  width: 100%;
  /*float: left;*/
  border: 2px solid #666666;
  background-color: #ccc;
  /*margin-right: 5px;*/
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
  margin-top:5px;
}
/*.drillLists select, .drillLists div {
  float:left;
  width: 50%;
}

div.details{
  float:right;
  padding:5px 0px;
  width: 100%;
}

.drillLists, select{
  padding:5px 0px;
}
.drillLists{
  height: 110px;
}
.wrapper{
  height:100%;
}
.resultDiv{
  padding:5px 0px;
  height:100%
}
.currsel{
  width:100%;
  float:left;
  margin-bottom: 20px;
  padding:5px 0px;
}
#qlikLogo{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 50px;
    float:right;
}


#rightbuttons .btn{
  float:right;
  margin:0 0 0 5px;
}*/